WindowsFormsApp2/Web References/Xml2Json/XmlToJson.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Xml2Json">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Xml2JsonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Xml2JsonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Xml2JsonSoapIn">
    <wsdl:part name="parameters" element="tns:Xml2Json" />
  </wsdl:message>
  <wsdl:message name="Xml2JsonSoapOut">
    <wsdl:part name="parameters" element="tns:Xml2JsonResponse" />
  </wsdl:message>
  <wsdl:portType name="XmlToJsonSoap">
    <wsdl:operation name="Xml2Json">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Xml To Json parser</wsdl:documentation>
      <wsdl:input message="tns:Xml2JsonSoapIn" />
      <wsdl:output message="tns:Xml2JsonSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="XmlToJsonSoap" type="tns:XmlToJsonSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Xml2Json">
      <soap:operation soapAction="http://tempuri.org/Xml2Json" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="XmlToJsonSoap12" type="tns:XmlToJsonSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Xml2Json">
      <soap12:operation soapAction="http://tempuri.org/Xml2Json" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="XmlToJson">
    <wsdl:port name="XmlToJsonSoap" binding="tns:XmlToJsonSoap">
      <soap:address location="https://localhost:44352/Services/XmlToJson.asmx" />
    </wsdl:port>
    <wsdl:port name="XmlToJsonSoap12" binding="tns:XmlToJsonSoap12">
      <soap12:address location="https://localhost:44352/Services/XmlToJson.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>